/* Unique Main Tags */

h1 {
    margin-top: 0px;

}

h2 {
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 8px;
}

nav {
    height: 30px;
    margin: 0px;
    /* background-color: orange;
    padding: 10px 10px 0px 10px;
    border-radius: 3px 15px 5px 30px; */


}

body {
    font-family: 'Questrial', sans-serif;
    font-size: 112.5%;
    background-color: whitesmoke;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

main {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer {

}

p {
    margin-top: 0px;
}

a {
    margin-bottom: 15px;
}

/* ID Tags */

#main-pic {
    margin: 20px 0 0 0;
    width: 100%;
    height: auto;
}

#interests {

}

#skills {

}

#main-contact {
    display: flex;
    flex-direction: column;

}

#social-contact {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

#bio {

}

#cv {

}


/* Classes */

.Pictures {
    width: 100%;
    max-width: 768px;
    height: auto;
    margin: 0;
}

.pic-title {
    font-size: 75%;
}

.tag-list {
    margin-top: 0px;
    padding-left: 0em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
    list-style-position: inside;
    /* justify-content: space-around; */
}

.tag-list-item {
    text-indent: 0px;
    /* box-sizing: content-box; */
    box-shadow: hotpink;
    font-size: 100%;
    font-style: italic;
    font-weight: bold;
    color: white;
    width:auto;
    height: 20px;
    margin: 8px;
    padding: 4px 10px 4px 10px;
    text-align: center;
    border: 1px orange;
    background-color: orange;
    border-radius: 3px 15px 5px 30px;
}

.nav-item {
    text-indent: 0px;
    text-decoration: none;
    /* box-sizing: content-box; */
    font-size: 100%;
    font-style: normal;
    font-weight: bold;
    color: white;
    width:120px;
    height: 30px;
    margin: 10px;
    padding: 4px 10px 4px 10px;
    text-align: center;
    border: 1px silver;
    background-color: silver;
    border-radius: 3px 15px 5px 30px;
 
}

.logo-pool {

}

.centered-pic-link {

}

.socnet-logo {

}

.centered-pic-link {

}

